.detailed-search-container {
  width: 100%;
}

.select-input {
  width: 200px;
}

.detailed-search-container {
  border-bottom: 1px solid #bcbcbc;
}

.detailed-search-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.detailed-search-form-body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.detailed-search-form-body > * {
  min-width: 150px !important;
}

.detailed-search-submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .detailed-search-form {
    flex-direction: column;
  }

  .detailed-search-submit {
    justify-content: center;
  }
  .detailed-search-form-body {
    flex-wrap: wrap;
    align-items: center;
  }
}
