.Header__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #bcbcbc;
  padding: 14px 0px;
  margin-bottom: 20px;
}

.Header {
  display: flex;
  flex-direction: column;
  width: 96%;
}

.Header__breadcrumbs {
  padding: 10px 0 0 0;
  font-size: 1.2rem;
}

.Header__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #4d4d4d;
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .Header__title {
    font-size: 1.5rem;
  }

  .Header__breadcrumbs {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .Header__title {
    font-size: 1.2rem;
  }
  .Header__breadcrumbs {
    font-size: 0.8rem;
  }
}
