.toolbar-container {
  width: 100%;
}

.toolbar {
  display: flex;
  flex-direction: column;
}

.Header__breadcrumbs {
  padding: 10px 0 0 0;
  font-size: 1.2rem;
}

.title-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #4d4d4d;
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .title-toolbar {
    font-size: 1.5rem;
  }

  .Header__breadcrumbs {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .title-toolbar {
    font-size: 1.2rem;
  }
  .Header__breadcrumbs {
    font-size: 0.8rem;
  }
}
